extends layout/layout

block content
    
    section.fuhr-header
        .fuhr-header__box.fl.fl-justify-b.fl-align-st
            img.fuhr-header__box-logo(src="./public/img/logo_new.svg")
            ul.fuhr-header__box-contact.fuhr-contacts-ul 
                li.fuhr-header__box-contact-tel.fuhr-contacts-ul-li-tel.relative-core
                    a.fuhr-header__box-contact-tel-link.fuhr-contacts-ul-li-link.fhur-link--hover.core-links-underline(href="tel:+48574048422" itemprop="telephone") +48574048422
                li.fuhr-header__box-contact-mail.fuhr-contacts-ul-li-mail.relative-core 
                    a.fuhr-header__box-contact-mail.fuhr-contacts-ul-li-link.fhur-link--hover.core-links-underline(href="mailto:info@filtersystemsshg.com" itemprop="email") info@filtersystemsshg.com
        h1.fuhr-header__head Filter Systems #[span.fuhr-no-wrap SHG - ] #[span.fuhr-header__head-subtext.fuhr-no-wrap official partner ]
        a.fuhr-catalog.fuhr-header__catalog.relative-core(href="http://www.fuhr-gmbh.com/e_index.html") Catalog
        
        
    section.fuhr-about.fl.fl-justify-a.fl-align-st
        .fuhr-about__box
            h2.fuhr-about__box-head  About us 
            img.fuhr-about__box-img--mobile(src="./public/img/filter-about.jpg")
            p.fuhr-about__box-par.fuhr-about__box-par-margin The company Filter Systems SHG #[span.fuhr-no-wrap is the] official representative #[span.fuhr-no-wrap FUHR FILTERTECHNIK] #[span.fuhr-no-wrap (Germany) in Poland.]
            p.fuhr-about__box-par The Fuhr GmbH is a competent partner for industrial filter technology since 1972 and deals with filter systems for liquid and gaseous media. The #[span.fuhr-aileron-ultra-italic acura]Line&#174; product line includes liquid filters, gas filters and compres #[span.fuhr-no-wrap sed air filters.]
            p.fuhr-about__box-par These products consist of filter cartridges, filter bags and filter modules. The #[span.fuhr-aileron-ultra-italic acura]Line&#174; industrial filters further include the engineering and the production of filter housings such as bag filter housing, cartridge filter housing as well as basket filters and self #[span.fuhr-no-wrap cleaning filters.]
        img.fuhr-about__img(src="./public/img/filter-about.jpg")
            
        
    section.fuhr-produts.fl.fl-justify-st.fl-align-c.fl-dir-col
        .fuhr-produts__row1.fl.fl-justify-a.fl-align-st
            .fuhr-produts__row1-box1.fuhr-produts-box.relative-core
                img.fuhr-produts__row1-box1-img.fuhr-produts-img(src="./public/img/filter1.png")
                p.fuhr-produts__row1-box1-par.fuhr-produts-par Bag Filter Unit With Pump for #[span.fuhr-no-wrap Oil and] Processfiltration for Bypass Filtration
            .fuhr-produts__row1-box2.fuhr-produts-box.relative-core
                img.fuhr-produts__row1-box2-img.fuhr-produts-img(src="./public/img/filter2.png")
                p.fuhr-produts__row1-box2-par.fuhr-produts-par Duplex Multibag Filter Housing Unit
        .fuhr-produts__row2.relative-core
            h1.fuhr-produts__row2-head.text-uppercase Our products
            a.fuhr-produts__row2-catalog.fuhr-catalog.fuhr-catalog--black.absolute-core(href="http://www.fuhr-gmbh.com/e_index.html") Catalog
        .fuhr-produts__row3.fl.fl-justify-b.fl-align-st
            .fuhr-produts__row3-box3.fuhr-produts-box.relative-core
                img.fuhr-produts__row3-box3-img.fuhr-produts-img(src="./public/img/filter3.png")
                p.fuhr-produts__row3-box3-par.fuhr-produts-par Alcohol Filter Unit with pre-filter and fine filter
            .fuhr-produts__row3-box4.fuhr-produts-box.relative-core
                img.fuhr-produts__row3-box4-img.fuhr-produts-img(src="./public/img/filter4.png")
                p.fuhr-produts__row3-box4-par.fuhr-produts-par 8 single Bag Filter Housings in One Unit with Manifold and all valves
         
            
            
        
    section.fuhr-footer.fl.fl-justify-b.fl-align-st  
        .fuhr-footer_txt
            h1.fuhr-footer_head.relative-core Filter Systems SHG is the official partner Fuhr Gmbh (Germany) in Poland
            p.fuhr-footer_par.relative-core The #[span.fuhr-aileron-ultra-italic acura]Line&#174; brand has long stood for high quality filtration products at competitive prices
        ul.fuhr-footer__contact.fuhr-contacts-ul
            li.fuhr-footer__contact-tel.fuhr-contacts-ul-li-tel.relative-core
                a.fuhr-footer__contact-tel-link.fuhr-contacts-ul-li-link.fhur-link--hover.core-links-underline(href="tel:+48574048422" itemprop="telephone") +48574048422
            li.fuhr-footer__contact-mail.fuhr-contacts-ul-li-mail.relative-core
                a.fuhr-footer__contact-mail-link.fuhr-contacts-ul-li-link.fhur-link--hover.core-links-underline(href="mailto:info@filtersystemsshg.com" itemprop="email") info@filtersystemsshg.com
            li.fuhr-footer__contact-address.fuhr-contacts-ul-li-address.relative-core 
                span.fuhr-contacts-ul-li-link Poland, 31-559, Krakow ul.Grzegorzecka 69, loc. 006B

    section.fl.fl-justify-c
        p.fuhr-copuright Copyright by Filter System SHG ( Sweet Home Group Sp z o.o. KRS: 0000658796 NIP: 6762520936 REGON: 366375819 )
                