<!DOCTYPE html>
html(lang="en")
	head
		title The company Filter Systems SHG
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='keywords', content='')
		meta(name='description', content='The company Filter Systems SHG is the official representative FUHR FILTERTECHNIK (Germany) in Poland.')
		meta(property='vk:image', content='http://filtersystemsshg.com/public/img/bg_head.jpg')
		meta(property='og:image', content='http://filtersystemsshg.com/public/img/bg_head.jpg')
		meta(property='image', content='http://filtersystemsshg.com/public/img/bg_head.jpg')
		meta(property='vk:Description', content='The company Filter Systems SHG is the official representative FUHR FILTERTECHNIK (Germany) in Poland.')
		meta(property='og:title', content='The company Filter Systems SHG')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://filtersystemsshg.com/')
		meta(property='og:Description', content='The company Filter Systems SHG is the official representative FUHR FILTERTECHNIK (Germany) in Poland.')
		link(rel='alternate', hreflang='en', href='/')
		link(rel='image_src', href='/favicon.png')
		link(rel='shortcut icon', href='/favicon.png')
		link(rel='apple-touch-icon', sizes='128x128', href='/favicon_apple.png')
		link(rel='apple-touch-icon-precomposed', sizes='128x128', href='/favicon_apple.png')
		link(rel='stylesheet', href='public/build/styles.min.css')
	body
		block content
