$AvertaExtraThin = Averta_ExtraThin, sans-serif
$AileronUltraLight = Aileron_UltraLight, sans-serif
$AileronUltraLightItalic = Aileron_UltraLight_Italic, sans-serif
$AileronLight = Aileron_Light, sans-serif
$AileronLightItalic = Aileron_Light_Italic, sans-serif
$BerenisADFProRegular = BerenisADFPro_Regular, sans-serif

@font-face
	font-family Averta_ExtraThin
	font-weight 400
	src url("../fonts/Averta-ExtraThin.otf")

@font-face
	font-family Aileron_UltraLight
	font-weight 400
	src url("../fonts/Aileron-UltraLight.otf")

@font-face
	font-family Aileron_UltraLight_Italic
	font-weight 400
	src url("../fonts/Aileron-UltraLightItalic.otf")
	
@font-face
	font-family Aileron_Light
	font-weight 400
	src url("../fonts/Aileron-Light.otf")
	
@font-face
	font-family Aileron_Light_Italic
	font-weight 400
	src url("../fonts/Aileron-LightItalic.otf")
	
@font-face
	font-family BerenisADFPro_Regular
	font-weight 400
	src url("../fonts/BerenisADFPro-Regular.otf")
	
.fuhr-no-wrap
	white-space: nowrap
	color: inherit
	letter-spacing inherit
	
.fuhr-header
	padding 60px 0 130px
	background #868686 url("../img/bg_head.jpg") no-repeat center
	background-size auto
	
.fuhr-header__box-logo
	width 140px
	height auto
	margin-left 50px
	
.fuhr-header__box-contact
	margin-right 35px

	
.fuhr-contacts-ul-li-tel
.fuhr-contacts-ul-li-mail
	padding-left 55px
	&:before
		content ''
		position absolute
		left 0
		top 5px
		background-size 100% auto
		background-repeat no-repeat 
		

.fuhr-contacts-ul-li-tel:before
	width 32px
	height 31px
	top 5px
	background-image url(../img/icon_telephone.svg)
	

.fuhr-contacts-ul-li-mail
	margin-top 20px
	&:before
		width 34px
		height 30px
		background-image url(../img/icon_mail.svg)
	
.fuhr-contacts-ul-li-link
	font-family $AileronLight
	font-weight 400
	font-size 24px
	line-height 35px
	letter-spacing 2px
	color #feffff
	
.fuhr-header__head
	margin -32px auto 0
	padding 0 75px
	max-width 960px
	text-align center
	font-family $AvertaExtraThin
	font-weight 400
	font-size 79px
	line-height 110px
	letter-spacing 5.4px
	color #feffff
	&:after
		content: ''
		display: inline-block
		margin 0 0 -20px 20px
		width: 210px
		height: 91px
		background  url("../img/logo2.png") no-repeat top left
		background-size: 168px auto

.fuhr-header__head-subtext
	font-size: 47px
	color: inherit
	letter-spacing: 3.6px
	
.fuhr-header__catalog
	margin 40px auto 0
	
.fuhr-catalog--black
	border 2px solid #1a1a1a
	color: #242424
	
.fuhr-catalog
	display block
	width 320px	
	border 2px solid #feffff
	border-left 2px solid #0f972f
	font-family $AileronUltraLight
	font-weight 400
	font-size 36px
	line-height 73px
	letter-spacing 2.7px
	color #feffff
	text-align center
	&:before
	&:after
		content ''
		position absolute
		left -2px
		display block
		height 0
		border-top 2px solid #0f972f
		border-right 2px solid transparent
	&:before
		top -2px
		width 85px
	&:after
		bottom -2px
		width 10px
	
.fuhr-about
	margin 110px auto 0
	width: 94%

.fuhr-about__box
	max-width: 720px
	margin-top: 20px
	
.fuhr-about__box-head
	text-align center
	font-family $AvertaExtraThin
	font-weight 400
	font-size 70px
	line-height 80px
	letter-spacing 5.3px
	color #242424
	text-transform: uppercase
	
.fuhr-about__box-par-margin
	margin-top: 55px

.fuhr-about__box-par
	text-align: center
	font-family $AileronUltraLight
	font-weight 400
	font-size 24px
	line-height 38px
	letter-spacing: 1.9px
	color #242424

.fuhr-about__img
	width: 43%
	height: auto
	
.
	
	
	
.fuhr-footer
	padding: 100px 0 80px
	background #868686 url("../img/bg_footer.jpg") no-repeat center
	background-size auto